.todoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  width: 4rem;
  flex-direction: column;
  border: 2px solid rgb(68, 70, 162);
  padding: 8rem;
  margin: auto;
  margin-top: 5rem;
  background-color: rgb(44, 38, 38);
  border-radius: 1rem;
}
.list {
  color: white;
  border: 1px solid white;
  width: 16rem;
  margin-right: 2.7rem;
  list-style-type: none;
  align-items: center;
  height: 2rem;
  text-align: start;
  margin-bottom: 1rem;
  display: flex;
  
  justify-content: space-around;
}
