.card {
  
  height: 10rem;
  text-align: center;
  padding: 2rem;
  margin: 1rem 5rem 1rem 1rem;
  line-height: 1;
  background-color: rgb(241, 246, 250);
  height: 65%;
  border-radius: 2rem;
  border: none;
  min-width: 12rem;
}

img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.exp {
  color: blue;
}

.name {
  font-weight: 700;
}