.menu {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;

  gap: 1rem;
  font-size: 1.5rem;
  background-color: rgb(27, 77, 211);
  margin-top: 0;
  height: 3rem;
  align-items: center;
  position: relative;
  color: white;
  padding: 1rem;
}
img {
  height: 10rem;
  width: 10rem;
  position: absolute;
  background-color: rgb(27, 77, 211);
  margin-top: 1.5rem;
  left: 0;
  top: -1.5rem;
  border-radius: 50%;
  padding: 1rem;
}
.containerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.btnLogin {
}
.icon {
  display: none;
}
@media screen and (max-width: 700px) {
  .icon {
    display: block;
  }
  .list {
    display: none;
  }
  .btnLogin {
    display: none;
  }
}
