nav {
  display: flex;
  justify-content: flex-end;
  gap: 10rem;
  margin-right: 10rem;
}
.home {
  list-style-type: none;
  list-style: none;
  font-size: larger;
  color: aqua;
}
.favourite {
  list-style-type: none;
  font-size: larger;
}
.Link {
  text-decoration: none;
  color: red;
  font-size: 1.5rem;
}
